*, *:before, *:after {
	margin:  0;
	padding:  0;
	background:  #1d1d47;
	color:  white;
	font-family:  'Press Start 2p', cursive;
}
body {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height:  100vh;
}




header {
	position:  fixed;
	top: 0;
	width:  100%;
	padding:  20px;
	font-size:  8px;
	display: flex;
	justify-content: space-around;
}

h3 {
	font-weight: lighter;
}

h1 {
	margin-bottom:  30px;
	font-size:  3vw;
	font-weight: normal;
}

input[type="date"] {
	display: block;
	margin:  0 auto 50px auto;
	color:  black;
	background:  white;
	border:  1px solid white;
	padding:  10px 15px;
	font-size: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
	border-radius:  5px;
}

button {
	display: block;
	font-size:  14px;
	margin:  20px auto;
	background: #1d1d47;
	border:  none;
	
}

button:active {
	background:  white;
	color:  #1d1d57;
}



#practice {
	margin-top:  35px;
	padding:  5px;
	font-size:  4vw;
	color: #1d1d57;
	background:  white;
	font-style: italic;
	font-weight: bolder;
	visibility:  hidden;
}




















